body{
margin:0;
font-family:Arial;
background:linear-gradient(120deg,#0f2027,#203a43,#2c5364);
color:white;
}


.sidebar{

position:fixed;
height:100%;
width:220px;
background:rgba(0,0,0,0.4);
padding:20px;

}


.sidebar a{

display:block;
color:white;
text-decoration:none;
padding:15px;
border-radius:10px;

}


.sidebar a:hover{

background:#00c6ff;

}


.main{

margin-left:270px;
padding:40px;

}


.box{

background:rgba(255,255,255,0.15);
padding:30px;
border-radius:20px;

}